@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);


* {
  font-family: Roboto;
}

body {
  background-color: #ccc;
}

.footer-distributed {
  height: 10%;
  padding: 50px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 75px 55px;
  position: absolute
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 10;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  /* content: "·"; */
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 400px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

.notfound {
  position: relative;
  height: 90vh;
  background: #fafafa;
  text-align: center;
}

* {
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}

body {
  height: 900px;
}

header {
	/* background: url('https://d.newsweek.com/en/full/1973779/stock-image-cats-snuggling-together.jpg'); */
  text-align: center;
	width: 100%;
	height: auto;
	background-size: center;
	background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: -530px;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 40px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 100px;
	margin-bottom: 30px;
  text-align: center;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	font-size: 23px;
  margin-bottom: 30px;
  text-align: center;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


.cardDeck {
  align-items: center;
}


.portfolios, a:link {
  text-align: center;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.portfolios, a:visited {
  color: #333;
}
.portfolios, a:active {
  color: blue;
}
.portfolios, a:hover {
  cursor: pointer
}
p.creators {
  font-size: xx-large;
  text-align: center;
  font-family: cursive;
  color: black;
}
funfacts, p {
  font-size: 12pt;
  text-align: center;
}
funfacts, ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: black;
  margin: 5px;
}

.cardtext {
  text-align: left;
}
